# NodeB_classic — ESP32: Wi-Fi STA + BLE Peripheral (NimBLE)

# Enable Bluetooth
CONFIG_BT_ENABLED=y

# Use NimBLE
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_ROLE_CENTRAL=n
CONFIG_BT_NIMBLE_ROLE_PERIPHERAL=y
CONFIG_BT_NIMBLE_ROLE_OBSERVER=n
CONFIG_BT_NIMBLE_ROLE_BROADCASTER=y

# Wi-Fi
CONFIG_ESP_WIFI_ENABLED=y

# Software coexistence (Wi-Fi + BLE)
CONFIG_ESP_COEX_SW_COEXIST_ENABLE=y

# Partition table
CONFIG_PARTITION_TABLE_SINGLE_APP=y
